
<ion-content>
    <!-- <ion-img id="img2" src=""></ion-img> -->
    <ion-card class="card1">
        <ion-img id="img2" src="https://images-na.ssl-images-amazon.com/images/I/71q6iQTY-VL._SX466_.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>ABC Movies</ion-card-subtitle>
          <ion-card-title>Bahu bali 2</ion-card-title>
          <h5>*****</h5>
        </ion-card-header>
      <ion-button id="button1" (click)="makePayment()">Book Now</ion-button>
        
      </ion-card>
  </ion-content>