
<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()"><ion-icon class="f-size" name="arrow-round-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      City Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row color="danger" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input type="text" placeholder="username" [(ngModel)]="customer.name" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="password" [(ngModel)]="customer.password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Address" [(ngModel)]="customer.address" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="your@email.com" [(ngModel)]="customer.email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="phone" [(ngModel)]="customer.phone" required></ion-input>
            </ion-item>
          </div>
          <div padding>
              <ion-button  size="large" type="submit" expand="block" (click)="onRegister(customer)">Register</ion-button>
            </div>
          <!-- <div padding>
            <ion-button  size="large" type="submit" expand="block" (click)="presentActionSheet()">Register</ion-button>
          </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>